<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the Back Stage</title>
    <script src="~/BackStage/LewCMS/Scripts/jquery-2.1.1.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,100" rel="stylesheet" type="text/css" />
    <link href="~/BackStage/LewCMS/css/default.css" rel="stylesheet" />
    <script src="http://fb.me/react-0.11.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.11.2.js"></script>
</head>
<body>

    <div data-lew-style="panes">
        <div data-lew-style="pane" class="top">
            a
        </div>
        <div data-lew-style="pane" class="left">
            <div id="page-tree">

            </div>
        </div>

        <div data-lew-style="pane" class="center">
            <button>Detta är text</button>
            <a href="#">Mer text</a>
            <input type="text" value="Ännu mer text" />
            <select>
                <option>Text</option>
            </select>
        </div>

        <div data-lew-style="pane" class="right">
            a
        </div>
    </div>

        @RenderBody()
        @*<script src="~/BackStage/LewCMS/Scripts/lewCMS-0.1.1.js" type="text/javascript"></script>*@
        <script src="~/BackStage/LewCMS/react/components/page-tree/page-tree.jsx" type="text/jsx"></script>
</body>
</html>