<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is the Back Stage</title>
    <link href="~/LewCMS/css/styles.min.css" rel="stylesheet" />
</head>
<body>

    <div class="header">

    </div>

    @RenderBody()
</body>
</html>