/* ---------------------- COLORS ---------------------- */
/*VARS*/
@color-var-white: #fff;
@color-var-white: #fff;
@color-var-success: #62A247;
@color-var-alert: #d74e4e;

@color-var-gray-base: #fafafa;
@color-var-gray-1: darken(@color-var-gray-base, 5%);
@color-var-gray-2: darken(@color-var-gray-base, 10%);
@color-var-gray-3: darken(@color-var-gray-base, 15%);
@color-var-gray-4: darken(@color-var-gray-base, 20%);

/*SITE*/
@color-site-bg: #eee;

/*LEFT PANE*/
@color-left-pane-bg: #2C2E2F;
@color-left-pane-border: #313437;
@color-left-pane-text: #979898;

/*NAVBAR*/
@color-navbar-bg: @color-var-white;
@color-navbar-border: #e9e9e9;

/*FORM*/
@color-input-border: #e4e4e4;
@color-input-text: #555;
@color-label-text: #979898;
@color-input-error-border: #CC3F44;
@color-input-error-text: #CC3F44;

/*BUTTON*/
@color-btn-border: #ddd;
@color-btn-white-text: #333;
@color-btn-white-bg: #fff;
@color-btn-white-hvr-bg: #f2f2f2;
@color-btn-green-text: #fff;
@color-btn-green-bg: #68B828;
@color-btn-gray-text: #fff;
@color-btn-gray-bg: #6d6d6d;

/*ALERT*/
@color-alert-success-bg: #68B828;
@color-alert-error-bg: #CC3F44;

/*TITLE BAR*/
@color-title-bar-bg: #f8f8f8;
@color-title-bar-header-text: #2C2E2F;
@color-title-bar-desc-text: #979898;

/*UNDERLINE HEADER*/
@color-header-border: #f1f1f1;

/*CONTENT TYPE LIST*/
@color-content-type-list-item-border: #ddd;
@color-content-type-list-item-hover-bg: #f2f2f2;

/*PAGE TREE*/

/*ERROR SUMMARY*/
@color-error-summary-border: rgba(0,0,0,0.3);
@color-error-summary-bg: rgba(0,0,0,0.2);
@color-error-summary-text: #555;

/*MODAL*/
@color-modal-bg: #fff;
@color-modal-backdrop-bg: #000;
@color-modal-header-border: #f1f1f1;

/* ---------------------- TYPO ---------------------- */
/*VARS*/
@typo-var-font-weight-light: 100;
@typo-var-font-weight-normal: 400;
@typo-var-font-weight-bold: 700;

/*SITE*/
@typo-site-font-family: 'open sans' sans-serif;
@typo-site-font-size: 14px;
@typo-site-font-weight: @typo-var-font-weight-normal;
@typo-site-font-style: normal;
@typo-site-font-line-height: 1;

/* ---------------------- GUTTERS ---------------------- */
@size-xs: 5px;
@size-s: 10px;
@size-m: 15px;
@size-l: 20px;
@size-xl: 25px;
@size-xxl: 30px;