<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LewCMS - Back Stage</title>
    <link href="~/BackStage/LewCMS/styles/build/site.css" rel="stylesheet" />
    <script src="~/BackStage/LewCMS/javascripts/src/React-0.12.1/react-0.12.1.js" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
    <script src="~/BackStage/LewCMS/javascripts/src/React2Way-0.0.1/React2Way-0.0.1.js" type="text/javascript"></script>
    <script src="~/BackStage/LewCMS/javascripts/src/React2Way-0.0.1/r2wMixin-0.0.1.js" type="text/javascript"></script>
    <script src="~/BackStage/LewCMS/javascripts/build/ReactComponents/LeftPane/LeftPane.js" type="text/javascript"></script>
    <script src="~/BackStage/LewCMS/javascripts/build/ReactComponents/PageTree/PageTree.js" type="text/javascript"></script>
    <script src="~/BackStage/LewCMS/javascripts/src/LewCMS-0.0.1/LewCMS-0.0.1.js" type="text/javascript"></script>
    <script src="~/BackStage/LewCMS/javascripts/src/LewCMS-0.0.1/LewCMS.ajax-0.0.1.js" type="text/javascript"></script>
    <script src="~/BackStage/LewCMS/javascripts/src/LewCMS-0.0.1/LewCMS.contentService-0.0.1.js" type="text/javascript"></script>
    <script src="~/BackStage/LewCMS/javascripts/src/LewCMS-0.0.1/LewCMS.core-0.0.1.js" type="text/javascript"></script>
</body>
</html>