@import "../settings";

[data-lm-navbar]{
    box-sizing: border-box;
    background-color: @color-navbar-bg;
    height: 100px;
    margin: -@size-l;
    margin-bottom: 0;
    border-bottom: 1px solid @color-navbar-border;
}