@using System.Web.Mvc.Html;
@inherits System.Web.Mvc.WebViewPage<string>
@{
    Layout = null;
}

<div data-lm-textbox="" id="string-@ViewData["PropertyName"]">
    <input type="text" value="@Model" data-validation="@ViewData["ClientValidation"]">
    <span class=" error-message"></span>
</div>