@using System.Web.Mvc.Html;
@inherits System.Web.Mvc.WebViewPage<string>
@{
    Layout = null;
}

<div id="string-@ViewData["PropertyName"]">

</div>

@*<label>@ViewData["PropertyName"]</label>
<input type="text" value="" />*@

<script type="text/javascript" src="~/Backstage/LewCMS/ClientScripts/string.js"></script>

@*/** @@jsx React.DOM */

    console.log('Reaccttttttttttt');

    React.renderComponent(
      TextBox({ label: '@ViewData["PropertyName"]', type: 'text', value: '@Model', showErrorMessage: true, valProperties: {{required: {errorMessage: 'This field is required'}}}}),
    document.getElementById('string-@ViewData["PropertyName"]')
    );*@