@using System.Web.Mvc.Html;
@inherits System.Web.Mvc.WebViewPage


<h2>Dashboard</h2>

<button id="btn-new-page">New Page</button>

<script>

    $(function () {

        $('#btn-new-page').click(function () {

            $.ajax({
                url: '/LewCMS-api/create',
                data: {pageTypeId: 'pageTypeId-1-2-3', pageName: ''},
                type: 'POST',
                success: function (response) {
                    var v = 1;
                },
                error: function (one, two, three) {
                    var v = 1;
                }
            });

        });

    });

</script>

